.messagesContainer {
  flex-direction: column;
  height: 360px;
  align-items: flex-end;
  width: 330px;
  justify-self: center;
  justify-content: flex-start;
  padding: 30px;
  margin: 0 10px;
  border: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 5px;
  overflow: auto;
  align-self: flex-end;
  margin-top: 5vh;
}
